<div class="contents row" >
  <% @articles.each do |article| %>
    <%= render partial: "article", locals: { article: article } %>
  <% end %>
  <div class="pgntn">
    <%= paginate(@articles) %>
  </div>
</div>