// h1.grid-6 {
//   margin: 0;
// }

#header_user_nickname {
  position: absolute;
  left: 150px;
}

.card-title {
  font-size: 10px;
  border-bottom: solid 2px lightblue;
}

.card-action.ul.li {
  float: left;
}

.contents {
  position: relative;
  height: 100%;


  .pagination {
    background-color: lightgrey;
  }

  .pgntn {
    padding-top: 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }

}