// h1.grid-6 {
//   margin: 0;
// }

#header_user_nickname {
  position: absolute;
  left: 150px;
}

.action-list {
  display: flex;
}

.col {
  margin: 0 auto;
}

.pgntn {
  position: absolute;
  bottom: 0;
}